body {
  background-color: rebeccapurple;
}

#task-modal {
  border: 3px solid;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#close-form {
  font-weight: bold;
}

#close-form:hover,
#close-form:focus {
  cursor: pointer;
}
